@import '../fonts/roboto.css';

@keyframes fade{
  from{
      transform: scale(1);
  }
  to{
      transform: scale(2.5);
  }
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}

@keyframes btn-active{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.96);
  }
}

//.lead, .header, .advantage__container, .contacts{
//    border: 1px solid yellow;
//}

$main-backgrnd:#1B2944;
$block-backgrnd:#141F35;
$yellow:#FFBB01;
$yellow-shaddow-light:#FFC41D;
$yellow-shaddow-dark:#B68500;
$btn-txt-color:#1B2944;

%block{
  display: flex;
  flex-direction: column;
}
//создали шаблон блоков

%flex-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-col{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

%ul-style{
  padding: 0;
  list-style-type: none;
}
//создали шаблон для списоков

@mixin backgrnd-img($br, $bp, $bs){
  background-repeat: $br;
  background-position: $bp;
  background-size: $bs;
}
//создали миксин картинки

@mixin text-style($fz, $lh, $fm, $fw){
  font-size: $fz;
  line-height: $lh;
  margin: $fm;
  font-weight: $fw;
}
//создали миксин текста


//ПРЕИСПОЛЬЗУЕМЫЕ СТИЛИ ->

.block__title {
  @include text-style(2.25rem, 1.2, 0 0 84px, bold);
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 425px){
  .block__title{
    @include text-style(1.1875rem, 1.2, 0 0 48px, bold);
  }
}

@media screen and (max-width: 700px){
  .contacts .block__title{
    text-align: center;
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 425px){
  .contacts .block__title{
    @include text-style(1.1875rem, 1.2, 0 0 48px, bold);
  }
}
//стиль заголовка блока

.block__text{
  @include text-style(1rem, 1.75, 0 0 40px, normal);
}

@media screen and (max-width: 425px){
  .block__text{
    font-size: 0.875rem;
    line-height: 2;
  }
}

@media screen and (max-width: 425px){
  .lead__info .block__text{
    @include text-style(0.875rem, 1.4, 0 0 34px, normal);
  }
}
//стиль текста в блоке

.element__title{
  @include text-style(1.5rem, 1.2, 0 0 16px, bold);
}

@media screen and (max-width: 320px){
  .element__title{
    font-size: 1.125rem;
  }
}
//стиль заголовка элемента в блоке

.btn{
  @include text-style(.75rem, 1.2, 0 auto, bold);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $block-backgrnd;
  background-color: $yellow;
  border-radius: 5px 5px 10px 10px;
  border: none;
  width : 100%;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0;
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 4px 0 $yellow-shaddow-dark;
  &:hover{
    box-shadow: 0 6px 0 $yellow-shaddow-dark;
  }
  &:focus{
    outline: none;
  }
  &:active{
    animation: btn-active .2s ease-in-out forwards;
  }
}

@media screen and (max-width: 425px){
  .btn{
    height: 58px;
    font-size: 0.625rem
  }
}

.lead__info .btn{
  width: calc(100%/5 + 50%);
}

@media screen and (max-width: 900px){
  .lead__info .btn{
    min-width: 252px;
  }
}

@media screen and (max-width: 700px){
  .lead__info .btn{
    width: calc(100%/5 + 50%);
  }
}
@media screen and (max-width: 425px){
  .lead__info .btn{
    font-size: 0.625rem;
    width: 230px;
  }
}
//стиль кнопки

//<- ПРЕИСПОЛЬЗУЕМЫЕ СТИЛИ


body{
  background-color: $main-backgrnd;
  scroll-behavior: smooth;
}

.page{
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 320px){
  .page{
    padding: 0 1.875rem;
  }
}
//задали параметры страницы

.header{
  max-width: 936px;
  @extend %flex-row;
  min-height: 28px;
  margin: 0 auto;
  padding: 36px 0;
}
//задали параметры хедера

.logo{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 28' style='enable-background:new 0 0 120 28;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon class='st0' points='7.4,12.8 3.3,12.8 3.3,7.9 0,7.9 0,20.2 3.3,20.2 3.3,15.5 7.4,15.5 7.4,20.2 10.7,20.2 10.7,7.9 7.4,7.9 '/%3E%3Cpath class='st0' d='M22.7,12c0-1.4-0.4-2.5-1.3-3.2s-2.1-1.1-3.6-1.1c-1,0-1.9,0.2-2.7,0.5c-0.8,0.3-1.4,0.8-1.9,1.4 c-0.4,0.6-0.7,1.3-0.7,2h3.3c0-0.5,0.2-0.8,0.5-1.1c0.3-0.3,0.8-0.4,1.3-0.4c0.6,0,1.1,0.2,1.4,0.5c0.3,0.3,0.4,0.8,0.4,1.4v0.7 h-1.5c-1.8,0-3.2,0.4-4.2,1.1c-1,0.7-1.5,1.7-1.5,3c0,1.1,0.4,1.9,1.2,2.6c0.8,0.7,1.8,1,3,1c1.3,0,2.3-0.4,3.1-1.3 c0.1,0.4,0.2,0.8,0.3,1.1h3.3V20c-0.3-0.6-0.5-1.5-0.5-2.7V12z M19.4,16.7c-0.2,0.4-0.5,0.7-0.9,0.9c-0.4,0.2-0.9,0.3-1.3,0.3 c-0.5,0-0.9-0.1-1.2-0.4s-0.4-0.6-0.4-1l0-0.2c0.1-1.1,1-1.7,2.6-1.7h1.2V16.7z'/%3E%3Cpath class='st0' d='M56.4,9.2c-1.1-1-2.4-1.5-4.1-1.5c-1.2,0-2.2,0.3-3.1,0.8c-0.9,0.5-1.6,1.3-2,2.2c-0.5,1-0.7,2-0.7,3.3v0.1 c0,2,0.5,3.5,1.6,4.7c1.1,1.1,2.5,1.7,4.3,1.7c1.8,0,3.2-0.6,4.3-1.7c1.1-1.1,1.6-2.7,1.6-4.6l0-0.8C58,11.6,57.4,10.2,56.4,9.2z M54.2,16.9c-0.4,0.6-1.1,0.9-1.9,0.9c-0.8,0-1.5-0.3-1.9-0.9c-0.4-0.6-0.7-1.5-0.7-2.7c0-1.3,0.2-2.3,0.7-2.9 c0.4-0.6,1.1-0.9,1.9-0.9c0.8,0,1.4,0.3,1.9,0.9c0.4,0.6,0.7,1.5,0.7,2.7C54.9,15.3,54.6,16.3,54.2,16.9z'/%3E%3Cpath class='st0' d='M60.6,13.1c-0.1,1.6-0.2,2.7-0.5,3.3c-0.3,0.7-0.7,1-1.3,1l-0.4,0l0,2.7h1.1c1.3,0,2.3-0.5,3-1.4 c0.7-0.9,1.1-2.4,1.2-4.4l0.2-3.8h2.9v9.7h3.3V7.9h-9.3L60.6,13.1z'/%3E%3Cpath class='st0' d='M77.4,7.6c-1.1,0-2.1,0.3-3,0.8c-0.9,0.5-1.6,1.3-2,2.3c-0.5,1-0.7,2.1-0.7,3.3v0.3c0,1.8,0.6,3.3,1.7,4.4 c1.1,1.1,2.6,1.7,4.4,1.7c1,0,2-0.2,2.8-0.6c0.8-0.4,1.5-0.9,2-1.6L81,16.4c-0.7,0.9-1.7,1.4-3,1.4c-0.8,0-1.5-0.2-2-0.7 s-0.9-1.1-1-1.9h7.9v-1.3c0-2-0.5-3.5-1.5-4.5S79.1,7.6,77.4,7.6z M79.6,12.9h-4.6c0.1-0.8,0.4-1.5,0.8-1.9 c0.4-0.4,0.9-0.7,1.6-0.7c0.7,0,1.2,0.2,1.6,0.6c0.4,0.4,0.6,1,0.6,1.7V12.9z'/%3E%3Cpolygon class='st0' points='91.6,12.8 87.5,12.8 87.5,7.9 84.2,7.9 84.2,20.2 87.5,20.2 87.5,15.5 91.6,15.5 91.6,20.2 94.9,20.2 94.9,7.9 91.6,7.9 '/%3E%3Cpolygon class='st0' points='108.4,7.9 104.2,7.9 101.5,12.5 100.4,12.5 100.4,7.9 97.1,7.9 97.1,20.2 100.4,20.2 100.4,15.7 101.7,15.7 104.4,20.2 108.8,20.2 104.4,13.8 '/%3E%3Cpath class='st0' d='M120,13.8c0-2-0.5-3.5-1.5-4.5s-2.3-1.6-4-1.6c-1.1,0-2.1,0.3-3,0.8c-0.9,0.5-1.6,1.3-2,2.3 c-0.5,1-0.7,2.1-0.7,3.3v0.3c0,1.8,0.6,3.3,1.7,4.4c1.1,1.1,2.6,1.7,4.4,1.7c1,0,2-0.2,2.8-0.6c0.8-0.4,1.5-0.9,2-1.6l-1.6-1.8 c-0.7,0.9-1.7,1.4-3,1.4c-0.8,0-1.5-0.2-2-0.7s-0.9-1.1-1-1.9h7.9V13.8z M116.8,12.9h-4.6c0.1-0.8,0.4-1.5,0.8-1.9 c0.4-0.4,0.9-0.7,1.6-0.7c0.7,0,1.2,0.2,1.6,0.6c0.4,0.4,0.6,1,0.6,1.7V12.9z'/%3E%3Cpath class='st0' d='M42.2,11.6C42.2,11.6,42.2,11.6,42.2,11.6l-7.5,0c0,0,0,0,0,0H34L44.5,0h-5.7l-9.3,11.6h-0.4L28.5,0H25v28h4.9 l-0.5-10.9l9.5-1l-4,11c-0.1,0.2,0.1,0.3,0.2,0.3h9.7c-1-1.8-2.8-3-5-3l4.7-9.1l0,0c0.2-0.4,0.3-0.7,0.3-1.2 C44.7,12.7,43.6,11.6,42.2,11.6z'/%3E%3C/g%3E%3C/svg%3E%0A");
  @include backgrnd-img(no-repeat, center, cover);
  width: 120px;
  height: 28px;
}

.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 130px;
  @extend %ul-style;
}

@media screen and (max-width: 425px){
  .social{
    width: 100px;
  }
}

.social__item{
  display: flex;
}

.social__ico{
  @include backgrnd-img(no-repeat, center, cover);
  margin: 0;
  width: 18px;
  height: 18px;
  &:hover{
    animation: fade .25s ease-out backwards;
  }
}

@media screen and (max-width: 425px){
  .social__ico{
    transform: scale(.85);
  }
}

.social__ico_git{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79095 0C4.0609 0 0.184692 3.92288 0.184692 8.66873C0.184692 13.387 4.02557 17.27 8.79095 17.27C13.5504 17.27 17.3972 13.3928 17.3972 8.66873C17.3972 3.92288 13.521 0 8.79095 0ZM10.3038 16.1063C9.81972 16.2075 9.30534 16.2581 8.79095 16.2581C8.27657 16.2581 7.76218 16.2075 7.27813 16.1063V13.7384C7.27813 13.1717 7.42942 12.9694 7.63113 12.6961C7.73382 12.5783 7.7958 12.4726 8.25635 11.7754L7.47984 11.6539C5.48284 11.3604 4.69623 10.3181 4.38355 9.50857C3.98014 8.4259 4.19196 7.06983 4.91816 6.20983C5.02913 6.0782 5.11987 5.85553 5.03924 5.62284C4.88783 5.15734 4.90805 4.41869 5.00891 4.13528C5.54364 4.21196 6.09349 4.5963 6.55206 4.87405C6.76336 4.99778 6.87419 4.9651 6.97557 4.97524C7.34406 4.8983 7.91885 4.71212 8.80107 4.71212C9.34565 4.71212 9.92058 4.79302 10.4854 4.95495C10.5864 4.95258 10.7487 5.03875 11.03 4.87405C11.5093 4.58102 12.0405 4.20985 12.573 4.13528C12.6739 4.41869 12.6941 5.15734 12.5428 5.62284C12.462 5.85553 12.5528 6.0782 12.6639 6.20983C13.39 7.06996 13.6018 8.4259 13.1984 9.50857C12.8857 10.3181 12.0991 11.3604 10.1021 11.6539L9.32556 11.7754C9.8016 12.4961 9.85177 12.5825 9.95091 12.6961C10.1525 12.9694 10.3038 13.1717 10.3038 13.7384V16.1063ZM11.3123 15.8129V13.7384C11.3123 13.1616 11.1912 12.7771 11.0298 12.4937C12.5629 12.0789 13.6522 11.1681 14.1362 9.86274C14.6506 8.48664 14.4187 6.84729 13.5613 5.71389C13.7127 5.03599 13.7127 3.95318 13.3496 3.44723C13.1882 3.22469 12.9663 3.1032 12.684 3.1032C12.6739 3.1032 12.6739 3.1032 12.6739 3.1032C11.8918 3.14563 11.2763 3.54078 10.6164 3.94304C10.0113 3.78111 9.39608 3.70021 8.78084 3.70021C8.15562 3.70021 7.53027 3.79125 6.9757 3.94304C6.28101 3.52273 5.67142 3.14458 4.86773 3.1032C4.6156 3.1032 4.39367 3.22469 4.23227 3.44723C3.8693 3.95318 3.8693 5.03599 4.02058 5.71389C3.16319 6.84729 2.93127 8.49665 3.44566 9.86274C3.92971 11.1681 5.01902 12.0789 6.55206 12.4937C6.42691 12.7134 6.32789 12.9968 6.28889 13.3803C5.97924 13.4874 5.71069 13.5224 5.46091 13.4487C5.19748 13.3706 4.99223 13.1941 4.81389 12.8932C4.41336 12.2181 3.73115 11.6669 2.95439 11.7386L3.04303 12.7466C3.40272 12.7135 3.7607 13.0953 3.94665 13.4101C4.25341 13.9284 4.66668 14.2684 5.17529 14.4191C5.55284 14.5307 5.89795 14.5281 6.26959 14.4485V15.8129C3.33469 14.7807 1.19324 11.9676 1.19324 8.66873C1.19324 4.47943 4.6156 1.01191 8.79095 1.01191C12.9663 1.01191 16.3887 4.47943 16.3887 8.66873C16.3887 11.9676 14.2472 14.7807 11.3123 15.8129Z' fill='white'/%3E%3C/svg%3E%0A");
}

.social__ico_twitter{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2648 2.86704C16.1821 2.91713 16.2057 2.91304 16.0833 2.92332L16.7245 1.08526C16.7245 1.08526 14.7229 1.82431 14.2155 1.95651C12.8829 0.754288 10.902 0.701169 9.48586 1.57479C8.32616 2.29038 7.7037 3.51923 7.91132 4.95554C5.6543 4.64118 3.75264 3.56734 2.25125 1.75708L1.77639 1.18464L1.42156 1.83867C0.9731 2.66511 0.824182 3.61005 1.00212 4.49936C1.07514 4.8642 1.19924 5.21218 1.37113 5.53801L0.963777 5.37957L0.91545 6.06273C0.866468 6.7567 1.09667 7.5668 1.53135 8.22953C1.65374 8.41617 1.81132 8.62113 2.01106 8.82333L1.80055 8.7909L2.05742 9.57371C2.39505 10.6022 3.0963 11.3979 4.00636 11.8403C3.09748 12.2274 2.36327 12.4744 1.15642 12.8729L0.0522766 13.2372L1.07212 13.7968C1.46096 14.0102 2.83497 14.7229 4.19257 14.9367C7.21033 15.4118 10.608 15.0249 12.8954 12.9572C14.822 11.2156 15.4541 8.73831 15.3228 6.16027C15.303 5.76999 15.4095 5.3975 15.6228 5.11161C16.0499 4.53916 17.2622 2.87086 17.2648 2.86704ZM14.8163 4.50529C14.4621 4.97993 14.2847 5.58612 14.3165 6.21194C14.449 8.81239 13.7441 10.8291 12.2211 12.2057C10.4421 13.8139 7.57264 14.4451 4.34871 13.9375C3.76486 13.8456 3.16144 13.6399 2.66202 13.4344C3.67385 13.085 4.45521 12.7735 5.71708 12.174L7.47862 11.3372L5.53375 11.2122C4.60216 11.1524 3.82645 10.6992 3.34962 9.96347C3.60281 9.94871 3.84693 9.90758 4.09001 9.83957L5.94492 9.32104L4.07451 8.86129C3.16564 8.63787 2.64758 8.09205 2.37298 7.67343C2.19268 7.39835 2.07488 7.11654 2.00423 6.85675C2.19176 6.90723 2.41041 6.94321 2.76301 6.97827L4.49421 7.15015L3.12256 6.07618C2.13424 5.30246 1.73818 4.14005 2.02853 3.02258C5.113 6.23369 8.73457 5.99235 9.09912 6.07723C9.01888 5.29495 9.01678 5.29311 8.99577 5.21863C8.52892 3.5622 9.55205 2.72113 10.0135 2.43642C10.9774 1.84184 12.5074 1.75221 13.5672 2.73181C13.7961 2.94323 14.1056 3.0264 14.3953 2.95417C14.6553 2.88932 14.8687 2.82065 15.0776 2.74591L14.6427 3.99255L15.1979 3.99295C15.0931 4.13398 14.9675 4.30283 14.8163 4.50529Z' fill='white'/%3E%3C/svg%3E%0A");
}

.social__ico_insta{
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.44126 17.4615H15.611C17.0013 17.4615 18.1324 16.3267 18.1324 14.9317V2.72131C18.1324 1.32637 17.0013 0.191528 15.611 0.191528H3.44126C2.05096 0.191528 0.919891 1.32637 0.919891 2.72131V14.9317C0.919891 16.3267 2.05096 17.4615 3.44126 17.4615ZM1.92844 2.72131C1.92844 1.88438 2.60711 1.20344 3.44126 1.20344H15.611C16.4452 1.20344 17.1239 1.88438 17.1239 2.72131V14.9317C17.1239 15.7687 16.4452 16.4496 15.611 16.4496H3.44126C2.60711 16.4496 1.92844 15.7687 1.92844 14.9317V2.72131Z' fill='white'/%3E%3Cpath d='M9.52615 13.3802C12.0286 13.3802 14.0646 11.3374 14.0646 8.82657C14.0646 6.31575 12.0286 4.27295 9.52615 4.27295C7.0237 4.27295 4.9877 6.31575 4.9877 8.82657C4.9877 11.3374 7.0237 13.3802 9.52615 13.3802ZM9.52615 5.28486C11.4726 5.28486 13.0561 6.87362 13.0561 8.82657C13.0561 10.7795 11.4726 12.3683 9.52615 12.3683C7.57971 12.3683 5.99625 10.7795 5.99625 8.82657C5.99625 6.87362 7.57971 5.28486 9.52615 5.28486Z' fill='white'/%3E%3Cpath d='M14.2823 5.0392C15.1065 5.0392 15.7771 4.36639 15.7771 3.53944C15.7771 2.71248 15.1065 2.03967 14.2823 2.03967C13.4581 2.03967 12.7876 2.71248 12.7876 3.53944C12.7876 4.36639 13.4581 5.0392 14.2823 5.0392ZM14.2823 3.03952C14.557 3.03952 14.7806 3.26383 14.7806 3.53944C14.7806 3.81505 14.557 4.03936 14.2823 4.03936C14.0077 4.03936 13.7841 3.81505 13.7841 3.53944C13.7841 3.26383 14.0077 3.03952 14.2823 3.03952Z' fill='white'/%3E%3C/svg%3E%0A");
}

.social__ico_fb{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.30884 18.0571H8.92308V11.9182H6.90599V9.89434H8.92308V7.36455C8.92308 5.96961 10.0542 4.83477 11.4444 4.83477H13.9658V6.85859H11.9487C11.3926 6.85859 10.9402 7.31251 10.9402 7.87051V9.89434H13.8748L13.5386 11.9182H10.9402V18.0571H15.4786C16.8689 18.0571 18 16.9223 18 15.5273V3.31689C18 1.92196 16.8689 0.787109 15.4786 0.787109H3.30884C1.91854 0.787109 0.787476 1.92196 0.787476 3.31689V15.5273C0.787476 16.9223 1.91854 18.0571 3.30884 18.0571ZM1.79602 3.31689C1.79602 2.47996 2.47469 1.79902 3.30884 1.79902H15.4786C16.3128 1.79902 16.9915 2.47996 16.9915 3.31689V15.5273C16.9915 16.3643 16.3128 17.0452 15.4786 17.0452H11.9487V12.9301H14.393L15.0654 8.88242H11.9487V7.87051H14.9744V3.82285H11.4444C9.49801 3.82285 7.91454 5.41161 7.91454 7.36455V8.88242H5.89744V12.9301H7.91454V17.0452H3.30884C2.47469 17.0452 1.79602 16.3643 1.79602 15.5273V3.31689Z' fill='white'/%3E%3C/svg%3E%0A");
}

.content {
  @extend %block;
  margin: 0 auto;
}

.lead{
  @extend %flex-row;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 68px;
  max-width: 936px;
  width: 100%;
}

@media screen and (max-width: 700px){
  .lead{
    flex-direction: column-reverse;
    margin-top: 14px;
    width: 100%;
  }
}

.lead__info{
  max-width: 26.25rem;
  width: 100%;
}

@media screen and (max-width: 700px){
  .lead__info{
  margin: 0 auto;
  text-align: center;
  }
}

.lead__title{
  @include text-style(3.125rem, 1.2, 0 0 20px, bold);
}

@media screen and (max-width: 900px){
  .lead__title {
    font-size: calc((250vw/45-224));
  }
}

@media screen and (max-width: 425px){
  .lead__title {
    @include text-style(1.5rem, 1.2, 0 0 15px, bold);
  }
}

.lead__employment{
  @include text-style(1.5rem, 1.2, 0 0 16px, normal);
  color: $yellow;
}

@media screen and (max-width: 425px){
  .lead__employment {
    @include text-style(1rem, 1.7, 0 0 16px, normal);
  }
}

.lead__photo {
  @include backgrnd-img(no-repeat, center, cover);
  max-width: 390px;
  max-height: 390px;
  width: 100vw;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  border: 10px solid white;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px){
  .lead__photo {
    width: 43vw;
    height: 43vw;
    border: .95vw solid white;
  }
}

@media screen and (max-width: 700px){
  .lead__photo {
    margin-bottom: 17px;
    border: 4px solid white;
  }
}

.advantage{
  @extend %flex-row;
  position: relative;
}

.advantage__bacgrnd{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $block-backgrnd;
  width: calc(100% + 64px);
  content: '';
  z-index: -1;
}

.advantage__container{
  @extend %flex-col;
  box-sizing: border-box;
  padding: 64px 0 52px;
  margin: 0 auto;
  max-width: 936px;
  width: 100%;
}

.advantage__items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

@media screen and (max-width: 700px){
  .advantage__items{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px){
  .advantage__items{
    grid-template-columns: repeat(1, 1fr);
  }
}

.advantage__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantage__pic{
  @include backgrnd-img(no-repeat, center, contain);
  max-width: 52px;
  width: 100%;
  height: 50px;
  margin-bottom: 24px;
}

@media screen and (max-width: 425px){
  .advantage__pic{
    transform: scale(.88);
    transform-origin: top left;
  }
}

.contacts{
  @extend %flex-col;
  margin: 0 auto;
  max-width: 936px;
  width: 100%;
  padding: 52px 0 60px;
}

@media screen and (max-width: 700px){
  .contacts{
    padding: 28px 0 36px;
  }
}

@media screen and (max-width: 425px){
  .contacts{
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 320px){
  .contacts{
    padding: 28px auto 16px;
  }
}

.contacts__items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12%;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 700px){
  .contacts__items{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    width: auto;
  }
}

.contacts__form{
  @extend %flex-col;
  max-width: 424px;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 54px 40px;
  box-shadow: -5px 5px 0px $yellow-shaddow-light;
  margin: 0 0 12px 12px;
}

@media screen and (max-width: 700px){
  .contacts__form{
    margin: 0 0 58px;
  }
}

@media screen and (max-width: 425px){
  .contacts__form{
    margin: 0 0 58px;
    width: calc(100% - 10px);
    padding: 40px 14px 47px;
  }
}

.contacts__form-title{
  @include text-style(1.125rem, 1.6, 0 0 32px, bold);
  color: $block-backgrnd;
  max-width: 19.75rem;
  text-align: center;
}

@media screen and (max-width: 320px){
  .contacts__form-title{
    font-size: 0.937rem;
    width: 100%;
  }
}

.contacts__form-field{
  margin: 0 0 20px;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  box-sizing: border-box;
  
  display: flex;
  position: relative;
}

.contacts__form-text{
  @input text-style(0.875rem, 2, 0, normal);
//  outline: none;
  border-style: hidden;
  width: 100%;
  align-items: center;
  padding: 20px 22px 20px 54px;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
}

.contacts__form-pic{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  &_name{
    background-image: url("../images/user-icon.svg");
    width: 17px;
    height: 21px;
  }
  &_cell{
    background-image: url("../images/phone-icon.svg");
    width: 17px;
    height: 17px;
  }
}

.contacts__form-field_space-after{
  margin: 0 0 28px;
}

.contacts__card{
  @extend %flex-col;
  max-width: 388px;
}

.contacts__telmail{
  @extend %flex-row;
  margin: 0 0 60px;
}

@media screen and (max-width: 768px){
  .contacts__telmail{
    margin: 0 0 36px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 700px){
  .contacts__telmail{
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (max-width: 375px){
  .contacts__telmail{
    margin: 0 0 36px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__tel{

}

@media screen and (max-width: 768px){
  .contacts__tel{
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 700px){
  .contacts__tel{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px){
  .contacts__tel{
    margin-bottom: 36px;
  }
}

.contacts__link{
  @includ text-style(1rem, 1.2, 0, normal);
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
  &:hover{
    color: $yellow-shaddow-light;
  }
}

@media screen and (max-width: 375px){
  .contacts__link{
    margin-bottom: 12px;
  }
}

.contacts__social{
  width: 100%;
}

.contacts__social-links{
  @extend %flex-row;
  width: 100%;
  margin-bottom: 22px;
}

@media screen and (max-width: 700px){
  .contacts__social-links{
    margin-bottom: 30px;
  }
}

.contacts__list-items{
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  @extend %ul-style;
}

@media screen and (max-width: 768px){
  .contacts__list-items{
    flex-direction: column;
  }
}


@media screen and (max-width: 700px){
  .contacts__list-items{
    flex-direction: row;
  }
}


@media screen and (max-width: 375px){
  .contacts__list-items{
    flex-direction: column;
  }
}

.contacts__list-item{

}

@media screen and (max-width: 768px){
  .contacts__list-item{
    margin-bottom: 12px;
    &:last-child{
      margin: 0;
    }
  }
}

@media screen and (max-width: 700px){
  .contacts__list-item{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px){
  .contacts__list-item{
    margin-bottom: 12px;
    &:last-child{
      margin: 0;
    }
  }
}

.privacy__link{
  display: flex;
  @include text-style(0.9375rem, 1.2, 104px 0 0, normal);
  color: #949494;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.4s;
  &:hover{
    color: $yellow-shaddow-dark;
  }
}

@media screen and (max-width: 768px){
  .privacy__link{
    margin-top: 62px;
  }
}

@media screen and (max-width: 425px){
  .privacy__link{
    margin-top: 36px;
  }
}

//Модальное окно

.privacy__modal-title{
  @input text-style(.8rem, 1, 25px, bold);
  color: $block-backgrnd;
}

.privacy__modal-text{
  @input text-style(.4rem, 1, 0, normal);
  color: $block-backgrnd;
}


.privacy__modal-container {
  position: relative;
  margin: 0 auto;

.modal-content,
.modal-background {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

.modal-background {
  transition: height 250ms;
}

.modal-content {
  transform: scale(0);
  transition: transform 500ms;
}

.modal-text-block{
  height: calc(100% - 30px);
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.2);
  overflow-y: auto;
}

#modal {
  display: none;

  &:checked ~ .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(black,0.2);
    visibility: visible;
    opacity: 1;
    transition: height 250ms;
  }

  &:checked ~ .modal-content {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 50vw;
    height: 80%;
    padding: 40px 20px;
    background-color: white;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: auto;
    transform: scale(1);
    transition: transform 500ms;

    .modal-close {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 1.2rem;
      color: transparentize($block-backgrnd,0.6);
      transition: color 200ms,
            transform 500ms;
      &:hover,
      &:focus {
        color: $block-backgrnd;
        transform: rotate(360deg);
      }
    }

    .modal-content-button {
      position: relative;
      float: right;
      margin: 10px 0;
      padding: 10px 30px;
      color: $block-backgrnd;
      border-radius: 5px 5px 8px 8px;
      background-color: $yellow;
      transition: box-shadow 0.2s;
      box-shadow: 0 3px 0 $yellow-shaddow-dark;
      cursor: pointer;
      &:hover{
        box-shadow: 0 5px 0 $yellow-shaddow-dark;
      }
      &:active{
        animation: btn-active .2s ease-in-out forwards;
      }
    }
  }

  @media screen and (min-width: 1024px){
      &:checked ~ .modal-content{
        margin-left: -25%;
      }
  }

  @media screen and (max-width: 1024px){
      &:checked ~ .modal-content{
        left: 22%;
        margin-left: 0;
      }
  }

  @media screen and (max-width: 768px){
      &:checked ~ .modal-content{
        left: 12%;
        width: 70vw;
      }
  }

  @media screen and (max-width: 425px){
      &:checked ~ .modal-content{
        left: 5%;
        width: 81vw;
        font-size: .8rem;
      }
  }

  @media screen and (max-width: 375px){
      &:checked ~ .modal-content{
        left: 4%;
        width: 82vw;
        font-size: .6rem;
      }
  }

  @media screen and (max-width: 320px){
      &:checked ~ .modal-content{
        left: 4%;
        width: 80vw;
      }
  }

}
}